*,
::before,
::after {
    box-sizing: border-box;
}

:host {
    --heading-font: "PT Sans", sans-serif;

    --black: #000;
    --white: #fff;
    --text-color: #0009;

    --primary: #b80257;
    --secondary: #783df0;
    --tertiary: #fff9;

    --border-color: #0000000d;
    --footer-bg: #151515;
}

html {
    font-size: 62.5%;
}

body {
    scroll-behavior: smooth;

    font-family: "Source Sans 3", sans-serif;
    font-size: 1.5rem;
    line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: 700;
}

input,
button,
select {
    padding: 0;
    border: none;
    outline: none;

    background: transparent;
    cursor: pointer;
}
